.container__header {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button__about {
  background-color: thistle;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding-bottom: 30px;
  margin: 0 5%;
}
